<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
    <title>Google Map - Charity Hope Template for Non-Profit &amp; Fundraising</title>
    <meta name="description" content="Charity Hope is a full featured html temlate for any kind kind of non-profit, event, charity or donation website">

    <!-- External CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <link rel="stylesheet" href="assets/css/plyr.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7COpen+Sans:400,600%7CShadows+Into+Light" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/icon-114x114.png">

    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader -->
    <div id="loader-wrap" class="loader-wrap">
        <div class="cssload-loader">
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Main header -->
    <header id="main-header" class="main-header bg-img-1">

        <!-- Navbar -->
        <div class="cp-nav style-1">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="nav-container">
                <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand" href="index.html"><img src="images/icons/logo.png" alt=""></a>
                  <div class="mobile-nav-option">
                    <a class="mobile-nav-button" href="#">Donate</a>
                    <a class="mobile-nav-search" href="#"><i class="fa fa-search"></i></a>
                    <div class="mobile-nav-search-wrap">
                      <form class="search-form" action="#">
                        <input type="search" placeholder="Search…" name="s">
                        <button type="submit"><i class="fa fa-search"></i></button>
                      </form>
                    </div>
                  </div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false">Home</a>
                        <ul class="dropdown-menu">
                          <li><a href="home_default.html">Home Default</a></li>
                          <li><a href="home_general.html">Home General</a></li>
                          <li><a href="home_cause.html">Home Cause</a></li>
                          <li><a href="home_event.html">Home Event</a></li>
                          <li><a href="home_volunteer.html">Home Volunteer</a></li>
                          <li><a href="home_creative.html">Home Creative</a></li>
                          <li><a href="home_classic.html">Home Classic</a></li>
                          <li><a href="home_compact.html">Home Compact</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false">Cause</a>
                        <ul class="dropdown-menu">
                          <li><a href="cause_grid.html">Cause Grid</a></li>
                          <li><a href="cause_carousel.html">Cause Carousel</a></li>
                          <li><a href="cause_list.html">Cause List</a></li>
                          <li><a href="cause-single.html">Cause Single</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false">Event</a>
                        <ul class="dropdown-menu">
                          <li><a href="event_grid.html">Event Grid</a></li>
                          <li><a href="event_carousel.html">Event Carousel</a></li>
                          <li><a href="event_list.html">Event List</a></li>
                          <li><a href="event-single.html">Event Single</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu">
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown mega-holder">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false">Elements</a>
                        <ul class="dropdown-menu mega-menu">
                          <li class="menu-col col-lg-2">
                            <ul class="mega-items">
                              <li><a href="element_accordion.html">Accordion</a></li>
                              <li><a href="element_blog_posts.html">Blog Posts</a></li>
                              <li><a href="element_btns.html">Button</a></li>
                              <li><a href="element_call_to_action.html">Call to Action</a></li>
                              <li><a href="element_countdown.html">Countdown</a></li>
                              <li><a href="element_countto.html">Count To</a></li>
                              <li><a href="element_form.html">Form &amp; Inputs</a></li>
                            </ul>
                          </li>
                          <li class="menu-col col-lg-2">
                            <ul class="mega-items">
                              <li><a href="element_google_map.html">Google Map</a></li>
                              <li><a href="element_holder.html">Holder</a></li>
                              <li><a href="element_holder.html">Holder</a></li>
                              <li><a href="element_interactive_banner.html">Interactive Banner</a></li>
                              <li><a href="element_notification_alert.html">Notification &amp; Alert</a></li>
                              <li><a href="element_pricing_table.html">Pricing Table</a></li>
                              <li><a href="element_process.html">Process</a></li>
                            </ul>
                          </li>
                          <li class="menu-col col-lg-2">
                            <ul class="mega-items">
                              <li><a href="element_photo_gallery.html">Photo Galleries</a></li>
                              <li><a href="photo_gallery_2_column.html">Gallery 2 Column</a></li>
                              <li><a href="photo_gallery_3_column.html">Gallery 3 Column</a></li>
                              <li><a href="photo_gallery_4_column.html">Gallery 4 Column</a></li>
                              <li><a href="photo_gallery_creative.html">Gallery Creative</a></li>
                              <li><a href="element_video_gallery.html">Video Gallery</a></li>
                              <li><a href="element_texticon.html">Icon with Text</a></li>
                            </ul>
                          </li>
                          <li class="menu-col col-lg-2">
                            <ul class="mega-items">
                              <li><a href="element_tab.html">Tab</a></li>
                              <li><a href="element_team.html">Team</a></li>
                              <li><a href="element_team_single.html">Team Single</a></li>
                              <li><a href="element_testimonial_boxed.html">Testimonial Box</a></li>
                              <li><a href="element_testimonial_slider.html">Testimonial Slider</a></li>
                              <li><a href="element_progressbar.html">Progress</a></li>
                              <li><a href="element_progress_rounded.html">Progress Rounded</a></li>
                            </ul>
                          </li>
                          <li class="menu-col col-lg-2">
                            <ul class="mega-items">
                              <li><a href="header_1.html">Header 1</a></li>
                              <li><a href="header_2.html">Header 2</a></li>
                              <li><a href="header_3.html">Header 3</a></li>
                              <li><a href="header_4.html">Header 4</a></li>
                              <li><a href="header_5.html">Header 5</a></li>
                              <li><a href="slider_1.html">Slider Default</a></li>
                              <li><a href="slider_cause.html">Slider Cause</a></li>
                            </ul>
                          </li>
                          <li class="menu-col col-lg-2">
                            <ul class="mega-items">
                              <li><a href="footer_1.html">Footer 1</a></li>
                              <li><a href="footer_2.html">Footer 2</a></li>
                              <li><a href="footer_3.html">Footer 3</a></li>
                              <li><a href="footer_4.html">Footer 4</a></li>
                              <li><a href="footer_5.html">Footer 5</a></li>
                              <li><a href="slider_event.html">Slider Event</a></li>
                              <li><a href="slider_volunteer.html">Slider Volunteer</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false">Pages</a>
                        <ul class="dropdown-menu">
                          <li><a href="donation.html">Donation</a></li>
                          <li><a href="volunteer.html">Volunteer</a></li>
                          <li><a href="volunteer-single.html">Volunteer Single</a></li>
                          <li><a href="volunteer-registration.html">Volunteer Registration</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="404.html">404 Page</a></li>
                          <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                      </li>
                      <li class="nav-item nav-search">
                        <a class="nav-link search-toggle" href="#"><i class="fa fa-search"></i></a>
                        <div class="nav-search-wrap">
                          <form class="search-form" action="#">
                            <input type="search" placeholder="Search…" name="s">
                            <button type="submit"><i class="fa fa-search"></i></button>
                          </form>
                        </div>
                      </li>
                      <li class="nav-item nav-donation">
                        <a class="nav-link" href="donation.html">Donate</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="secondary-nav">
          <div class="secondary-nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul class="secondary-menu" id="secondary-menu">
            <li><a href="cause_grid.html">Urgent Cause</a></li>
            <li><a href="event_grid.html">Recent Event</a></li>
            <li><a href="donation.html">Donate</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
      </div>
        <!-- Navbar End -->

        <!-- Page Header -->
        <div class="page-header text-white">
            <div class="container text-center">
                <h1 class="page-title">Google Maps</h1>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Google Maps</li>
                </ol>
            </div>
        </div>
        <!-- Page Header End -->

    </header>
    <!-- Main header End -->

    <div class="main-wrap">
        <div class="section section-padding bottom-0 map-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="map-area xs-bottom-40">
                            <div class="google-map sm-height-300" id="location1" data-lat="-33.923036," data-lng="151.259052," data-zoom="10" style="height: 380px"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="map-area">
                            <div class="google-map sm-height-300" id="location2" data-lat="-34.028249," data-lng="151.157507," data-zoom="10" style="height: 380px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map-area">
                <div class="google-map md-height-450" id="location3" data-lat="-33.923036,-33.890542,-34.028249" data-lng="151.259052,151.274856,151.157507" data-zoom="12" style="height: 360px"></div>
            </div>
        </div>

    </div>

    <!-- Donate -->
    <div class="donate theme-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-4">
                    <a class="footer-logo" href="hone_default.html">
                        <img class="img-fluid" src="images/icons/logo-3.png" alt="Logo">
                    </a>
                </div>
                <div class="col-lg-6 col-sm-8">
                    <p>Moluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt Moluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="col-lg-3 col-sm-8 offset-lg-0 offset-md-4 offset-sm-4 text-lg-right text-xs-left">
                    <a class="btn btn-lg btn-white" href="#">Donate Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Donate End -->

    <!-- Footer -->
    <footer class="style-2">
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <aside class="widget widget_about">
                            <h3 class="widget-title">Contact Information</h3>
                            <div class="contact-information">
                                <h6>Address</h6>
                                <p>63739 street l12/5 House, Block-12<br/>Newyork City, New York </p>
                                <h6>Phone</h6>
                                <p>+1-2345-564789</p>
                                <h6>Email</h6>
                                <p>info@example.com</p>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <aside class="widget widget_nav_menu">
                            <h3 class="widget-title">About Us</h3>
                            <div class="support-menu-container">
                                <ul class="menu">
                                    <li><a href="#">Our Team</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Our Team</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Our Team</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <aside class="widget widget_nav_menu">
                            <h3 class="widget-title">Support Us</h3>
                            <div class="support-menu-container">
                                <ul class="menu">
                                    <li><a href="#">Become a Volunteer</a></li>
                                    <li><a href="#">Make a Donation</a></li>
                                    <li><a href="#">Recent Event</a></li>
                                    <li><a href="#">Urgent Cause</a></li>
                                    <li><a href="#">Upcoming Cause</a></li>
                                    <li><a href="#">Upcoming Event</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <aside class="widget widget_subscribe">
                            <form class="subscription" action="#" method="post">
                                <input type="email" name="email" placeholder="Enter your main here" required>
                                <button type="submit">Subscribe</button>
                                <p class="newsletter-success"></p>
                                <p class="newsletter-error"></p>
                            </form>
                        </aside>
                        <aside class="widget widget_social">
                            <h3 class="widget-title">Contact With Us</h3>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-vimeo"></i></a>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="copyright">Copyright 2020. <a href="#">Charity Hope</a>. All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Script -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/imagesloaded.js"></script>
    <script src="assets/js/visible.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progressbar.min.js"></script>
    <script src="assets/js/plyr.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmiJjq5DIg_K9fv6RE72OY__p9jz0YTMI"></script>
    <script src="assets/js/map.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>
