<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
    <title>Footer 4 - Charity Hope Template for Non-Profit &amp; Fundraising</title>
    <meta name="description" content="Charity Hope is a full featured html temlate for any kind kind of non-profit, event, charity or donation website">

    <!-- External CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <link rel="stylesheet" href="assets/css/plyr.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7COpen+Sans:400,600%7CShadows+Into+Light" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/icon-114x114.png">

    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader -->
    <div id="loader-wrap" class="loader-wrap">
        <div class="cssload-loader">
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <footer class="style-4">
        <div class="footer-upper">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <a class="footer-logo" href="hone_default.html">
                            <img src="images/icons/logo-footer.png" alt="Logo">
                        </a>
                        <p>Valencia City North Hill, Miami, FL-8564<br/><i class="fa fa-phone"></i> +1-2345-564789 </p>
                        <div class="socials">
                            <a class="link-facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="link-twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="link-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="link-youtube" href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <p class="copyright">Copyright 2020. <a href="#">Charity Hope</a>. All Right Reserved</p>
                    </div>
                    <div class="col-lg-7">
                        <ul class="footer-menu">
                            <li><a href="home-default.html">Home</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="faq.html">FAQS</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Script -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/imagesloaded.js"></script>
    <script src="assets/js/visible.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progressbar.min.js"></script>
    <script src="assets/js/plyr.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmiJjq5DIg_K9fv6RE72OY__p9jz0YTMI"></script>
    <script src="assets/js/map.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>
