<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
    <title>Footer 3 - Charity Hope Template for Non-Profit &amp; Fundraising</title>
    <meta name="description" content="Charity Hope is a full featured html temlate for any kind kind of non-profit, event, charity or donation website">

    <!-- External CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <link rel="stylesheet" href="assets/css/plyr.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7COpen+Sans:400,600%7CShadows+Into+Light" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/icon-114x114.png">

    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader -->
    <div id="loader-wrap" class="loader-wrap">
        <div class="cssload-loader">
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <footer class="style-3">
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_about">
                            <a class="footer-logo" href="hone_default.html">
                                <img src="images/icons/logo-footer.png" alt="Logo">
                            </a>
                            <p>Moluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,</p>
                            <div class="socials">
                                <a class="link-facebook" href="#"><i class="fa fa-facebook"></i></a>
                                <a class="link-twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="link-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                                <a class="link-youtube" href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_text">
                            <h3 class="widget-title">Get in Touch</h3>
                            <div class="contact-info">
                                <div class="contact-item">
                                    <i class="fa fa-map-marker"></i>
                                    <p>Valencia City North Hill<br/>Miami, FL-8564</p>
                                </div>
                                <div class="contact-item">
                                    <i class="fa fa-phone"></i>
                                    <p>+1-2345-564789</p>
                                </div>
                                <div class="contact-item">
                                    <i class="fa fa-envelope"></i>
                                    <p>infor@example.com</p>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_nav_menu">
                            <h3 class="widget-title">Support Us</h3>
                            <div class="support-menu-container">
                                <ul class="menu">
                                    <li><a href="#">Become a Volunteer</a></li>
                                    <li><a href="#">Make a Donation</a></li>
                                    <li><a href="#">Recent Event</a></li>
                                    <li><a href="#">Urgent Cause</a></li>
                                    <li><a href="#">Upcoming Cause</a></li>
                                    <li><a href="#">Upcoming Event</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_contact">
                            <h3 class="widget-title">Quick Contact</h3>
                            <form class="contact-form" action="#" method="post">
                                <p>
                                    <input type="text" name="name" placeholder="Full Name" required>
                                </p>
                                <p>
                                    <input type="email" name="email" placeholder="Email Address" required>
                                </p>
                                <p><textarea rows="2" name="message" placeholder="Message"></textarea></p>
                                <p><button type="submit" class="btn btn-xs">Send Message</button></p>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <p class="copyright">Copyright 2020. <a href="#">Charity Hope</a>. All Right Reserved</p>
                    </div>
                    <div class="col-lg-7">
                        <ul class="footer-menu">
                            <li><a href="home-default.html">Home</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="faq.html">FAQS</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Script -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/imagesloaded.js"></script>
    <script src="assets/js/visible.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progressbar.min.js"></script>
    <script src="assets/js/plyr.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmiJjq5DIg_K9fv6RE72OY__p9jz0YTMI"></script>
    <script src="assets/js/map.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>
